[2020-05-28 17:50] massonix opened #1 "3D spatial para cuando?"
Dear Dr. Sua,

Thanks for developing this incredible package, I published 5 Natures in 1 week thanks to it. Since I'm already fired up, I was thinking that maybe you could develop SPOTlight3D, as I would like to get the expression of my entire body in a single hologram. Do you think you could have it for next week?

Thanks a lot mate!

Keep rocking,

R

[2020-05-28 17:53] MarcElosua commented on #1
We are currently developing of this new feature with the Marcius lab, please be assured we are readily working on such an important issue. Please be seated as we finish up as it may take us a while.

[2020-05-28 17:55] massonix commented on #1
great, thanks! Do you think it will have single-quark resolution?

[2020-07-23 15:50] MarcElosua opened #2 "use ggspatial to plot spatial_scatterpie plot"
https://paleolimbot.github.io/ggspatial/

[2020-08-21 10:01] giovp opened #3 "support for SingleCellExperiment or just count matrices?"
Hi,

thank you for developing this interesting package.
I was wondering whether it would be possible to add support to SingleCellExperiment for the `sc_count` or just count matrices (if that's the case, then it would be nice allowing the various markers etc. arguments to just accepts e.g. vectors).

Thank you!

[2020-08-21 10:05] giovp opened #4 "arguments explanation"
Hi,

would it be possible to have a brief eplanation of ouple of arguments?
- hvg. The default it's 0, what does it mean?
- ntop. It says that the default is't 100 in the docs, but then the actual default is NULL? See pic
![image](https://user-images.githubusercontent.com/25887487/90879031-96111680-e3a6-11ea-94a9-3cf5b1d4ff3d.png)

Thank you!

[2020-08-24 10:19] MarcElosua commented on #3
Thank you very much for your comment!
I will definitely take a look into it and adapt it as much as possible to increase the flexibility and let you know here.

[2020-08-24 10:32] MarcElosua commented on #4
Hi giovp,
Thanks so much for spotting this I'll change the Arg description right away to match the function (3000 and NUULL respectively).
I'm more than happy to comment on these arguments and any others you have doubts about.

- **hvg**: by default is 3.000. It refers to how many highly-variable genes to use along with the markers to train the model. As we show in the benchmarking process  [here]

[2020-08-24 11:37] giovp commented on #4
Hi @MarcElosua ,

thanks a lot for the prompt reply! I had a look at the method section and I am still a bit confused.
- So the final set of genes for the single cell data is: sc_genes = union(ntop_genes, hvg_genes)
- And the final set of genes for the deconvolution is intersection(sc_genes, spatial_genes)

is that right?

[2020-08-24 11:50] MarcElosua commented on #4
Exactly @giovp,

The gene_set used is the union between the marker genes and the HVG genes.
However, from these genes, we use those that intersect with the spatial dataset. This is due to the genes in the basis matrix needing to be in both the SC and the Spatial dataset. When running the deconvolution if there are genes in the basis matrix which are not present in the Spatial dataset it returns an

[2020-08-24 11:52] giovp commented on #4
Amazing, thanks a lot !

[2020-09-04 08:06] #4 closed

[2020-10-09 20:15] jnmark opened #5 ""Preparing Gene set" error"
Hello,

I am trying to follow through the tutorial as is on the main page, I downloaded the data directly from the 'sample data' directory. All processing steps prior to running the deconvolution are perfect, however while running the spotlight_deconvolution step, I get an error:

Calculating gene variances
0%   10   20   30   40   50   60   70   80   90   100%
[----|----|----|----|----|----|----|

[2020-10-13 13:50] daisydan20 commented on #5
I'm getting the exact same error with the deconvolution step on R 3.6.2. Please let me know if there's any way to resolve this. Thank you so much!

[2020-10-14 09:01] MarcElosua commented on #5
Hi @jnmark and @daisydan20 ,
Thanks so much for using SPOTlight and for the heads up!

If you reinstall it via `devtools::install_github("https://github.com/MarcElosua/SPOTlight")` everything should be back to normal.
It seems there was a problem when using sparse matrices, it should be fixed now.

Sorry for any inconvenience this has caused, please let me know if you have any other issues!

[2020-10-14 12:04] #5 closed

[2020-10-14 17:15] MarcElosua commented on #3
Ongoing work at branch - *devel_cmtrx*. It should be functional but need to finish up running some tests...

[2020-10-15 01:35] jnmark commented on #5
@MarcElosua Thanks so much. I tested it out today, and it seems to work perfectly now. Also, just a note that the "scatterpie" function isn't included in the Spotlight package. It wasn't a problem at all, and I was easily able to add it in using install.packages, but just thought I'd let you know.

Thanks for such a great tool!

[2020-10-15 07:01] MarcElosua commented on #5
Thanks for the comment!
Just added it to the description and it should be automatically installed from now on.

[2020-10-28 03:21] caiquanyou opened #6 "topic and cell type ?"
what is the different meaning about topic and cell type?
could not understand why use NNLS lastly to solve Q  and  P since last step have solved the ST data propotion?

[2020-10-30 14:00] drighelli opened #7 "data links in README don't work - release data with package"
you can release the data into your package by putting them into the `inst` folder of your package.

If you would like to keep the data light you'd use just a subset of 'em.

Once, installed you can retrieve them with the system.files(package="SPOTlight") function.

Dario

[2020-10-30 16:29] MarcElosua commented on #6
Hi @caiquanyou,

The NNLS in the last step is necessary to solve Q and P since the topics may not necessarily be specific for a cell type. Similar cell types or states could have partially overlapping topic profiles which would make the 1:1 topic:cell-type relation not true. An example can be seen in SPOTlights tutorial when we show the topic profiles specificity for each cell type [here](https://

[2020-10-31 03:38] caiquanyou commented on #6
Thanks!I got it

[2020-10-31 03:38] #6 closed

[2020-11-13 00:03] heilandd opened #8 "R4.01"
Installation in R 4.01 (with dplyr 1.02) is not working or at least causing problems (from github). In my case, the problem is due to some files of the package .RDS files which include an old version of dplyr. Sourcing the code makes it work. Nice package!

[2020-11-18 17:11] onahman opened #9 "Spots are shifted from the image"
Hi,
I tried to use SPOTlight::spatial_scatterpie on my data and the spots had a shift from the image.
After probing the code I found the reason why:

  ## Plot spatial scatterpie plot
  scatterpie_plt <- suppressMessages(ggplot2::ggplot() +
                                       ggplot2::annotation_custom(grob = img_grob,
                                                                  xmin = 0,

[2020-11-26 15:20] MarcElosua commented on #9
Thanks a lot for pointing this out @onahman,
I have updated the function and should be fully functional!

[2020-11-26 15:48] MarcElosua commented on #7
Hi @drighelli,
Sorry for the delayed response. I have modified the README and added the sample_data to inst so it wil lbe installed upon installation.
Thanks for your input!
Marc

[2020-11-26 15:48] #7 closed

[2020-12-02 16:19] sengao86 commented on #8
Hi Dieter,

can you please specify how to solve the problem? I am running into the same issue with R 4.03

[2020-12-02 16:31] MarcElosua commented on #8
Hi @heilandd and @sengao86 sorry for the late response,
My dplyr version is also 1.0.2 and I have installed SPOTlight on R 4.0.1 without encountering the issue.
Could you please provide a bit more information so I can try to replicate your issue and try to fix it?
Thanks a lot for using SPOTlight!
Marc

[2020-12-02 16:37] sengao86 commented on #8
devtools::install_github("https://github.com/MarcElosua/SPOTlight")
Downloading GitHub repo MarcElosua/SPOTlight@HEAD
Error in utils::download.file(url, path, method = method, quiet = quiet,  :
  download from 'https://api.github.com/repos/MarcElosua/SPOTlight/tarball/HEAD' failed

[2020-12-02 16:46] MarcElosua commented on #8
@sengao86 Could you please specify which operating system you're using?

[2020-12-02 16:50] sengao86 commented on #8
@MarcElosua

NAME="Ubuntu"
VERSION="18.04.2 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.2 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
UBUNTU_CODENAME=bionic

[2020-12-02 22:27] heilandd commented on #8
I am not 100% sure but the problem are your RDS files in which an old version of dplyr is implemented (in any S4 object for example). If you clone the repository, install oll dependencies and source the code files, it works perfectly!

[code]

[2020-12-03 15:17] AMechels commented on #8
Had the same error as @sengao86, changed the command to
`install_git("https://github.com/MarcElosua/SPOTlight")`
which fixed it

[2021-01-20 07:56] JoyOtten opened #10 "Question related to normalization"
I have maybe a very naive question related to the normalization. I realised that for finding FindAllMarkers you actually use normalized scRNA-seq data with SCT. However, later on to deconvolve the spatial data you use the counts data from spatial which is the raw data. Why don't you use over there as well the SCT normalized data?

Thank you for your help and I really like SPOTlight

[2021-01-20 15:46] MarcElosua commented on #10
Hi @JoyOtten
Thank you very much for using SPOTlight.
To identify the differentially expressed genes we use SCTransform as it is the recommended workflow in Seurat to normalize the data. SPOTlight in turn uses unit-variance normalization for both the sc and spatial count matrices.
Hope this helps and please don't hesitate to get back to me if you have any other questions.

[2021-01-20 22:37] kolabx opened #11 "Error: `.data` must be a data frame without row names"
Hi Marc,

I am getting an error when running `spotlight_deconvolution()` with your example dataset. More info:

[code]

[code]

Any insight as to why?

Thanks

[2021-01-21 03:02] vitkl opened #12 "Benchmarking SPOTlight"
Hi @MarcElosua

As a part of cell2location paper (https://www.biorxiv.org/content/10.1101/2020.11.15.378125v1), we are doing a benchmark of all spatial mapping methods that integrate scRNA & spatial sequencing data. We seem to get the poor performance of SPOTlight on both simulated data (Fig S2, https://www.biorxiv.org/content/biorxiv/early/2020/11/17/2020.11.15.378125/DC1/embed/media-1.pdf?downlo

[2021-01-21 12:37] MarcElosua commented on #11
Hi @kolabx

I believe this error might be due to the `tibble` version you are running.
I am looking into it and will get back to you as soon as I have a fix!
thanks for reporting this,
Marc

[2021-01-26 19:28] MarcElosua commented on #11
Hi @kolabx
The bug should now be fixed!

[2021-01-27 19:47] alissacg commented on #11
Hi @MarcElosua,
I'm still getting this error message using SPOTlight 0.1.3:
<error/tibble_error_already_has_rownames>
`.data` must be a data frame without row names.
Backtrace:
    █
 1. ├─SPOTlight::spotlight_deconvolution(...)
 2. │ └─SPOTlight::topic_profile_per_cluster_nmf(...)
 3. │   └─`%>%`(...)
 4. ├─base::as.matrix(.)
 5. └─tibble::column_to_rownames(., clust_vr)

R version 4.0.2 (2020-06

[2021-01-31 00:00] vitkl opened #13 "When scRNA Seurat object contains column named 'ID' training breaks"
Hi Marc

I seem to have get error when scRNA Seurat object contains the column named 'ID'. I think this is because this block creates a column with that name:
[code]
Specifically, `tibble::rownames_to_column("ID")`.

[code]

[2021-01-31 12:02] MarcElosua commented on #11
Hi @alissacg ,
Can you please try installing SPOTlight from the devel branch:
`devtools::install_github("https://github.com/MarcElosua/SPOTlight", ref = "devel")`
The issue should be adressed and functional there!
Thanks for reporting the issue,
Marc

[2021-02-02 10:27] #12 closed

[2021-02-02 15:43] #8 closed

[2021-02-03 03:29] quanc1989 commented on #10
Hi @MarcElosua
I am also confused about a similar question.
I understand that you use SCTransform to follow the recommended workflow to identify DE genes.
However, in the example of deconvolution, you suggest as follows

[code]

You used the assay of 'SCT' (spatial) for the counts_spatial while 'RNA' for the se_sc (I recognized default assay from the documentation for spotlight_deconvolution)?

As

[2021-02-19 20:42] stephenwilliams22 opened #14 "train_nmf run time"
I have a single-cell data set that has approximately 50k cells and 20 celltypes. I have downsampled this dataset as per your example in the vignette
[code]

I'm trying to use SPOTlight for deconvolution but the `train_nmf` function is taking a really long time. I'm about 1 hr in and wondering if this is to be expected or if there is anything that I can do to speed the process up.

Thanks for your

[2021-02-19 20:55] stephenwilliams22 commented on #14
In the end, training the model took `"Time to train NMF model was 52.8mins"`. Have you considered using any of the parallel options available to `nmf`?

[2021-02-25 11:34] MartaCasado opened #15 "spatial_scatterpie - col_df argument"
Hi Marc!!

I am trying to change the colors in the spatial_scatterpie with the argument col_df and by passing to it a dataframe object containing a color for each cell type (first column is the cell type and the second is the color assigned to it), and I get the following error:

Error in SPOTlight::spatial_scatterpie(se_obj = spatial, cell_types_all = cell_types_all,  :
  unused argument (col_df

[2021-02-25 12:22] MarcElosua commented on #13
fixed!

[2021-02-25 12:22] #13 closed

[2021-02-25 12:23] MarcElosua commented on #11
This bug should be fixed in the latest version

[2021-02-25 12:23] #11 closed

[2021-02-25 12:34] MarcElosua commented on #10
hi @quanc1989,
As I mentioned in the previous comment SPOTlight uses unit variance normalization to run the model. Regarding the assay of choice to get the DE it is flexible and does not need to be SCT!
Hope this answers your question.

[2021-02-25 12:34] #10 closed

[2021-02-25 12:37] MarcElosua commented on #14
Hi @stephenwilliams22 ,
Thanks a lot for your feedback, with larger datasets with lots of cell types it does tend to take a while 1-2h. I had not thought about the parallelization of NMF, I will definitely take a look at its implementation!
Thanks again

[2021-02-25 15:20] MarcElosua commented on #15
Hi @MartaCasado,

Sorry for this! I deprecated this argument and forgot to remove the argument description, thanks for reporting it!

To do what you are trying you can do the following:

[code]

Hope this helps you get the right coloring in your plots!
Let me know if this works or if I can help you further with this issue.

[2021-02-26 09:09] MartaCasado commented on #15
Yes, it works fine! Thank you Marc! :)

[2021-03-12 03:35] tctaochen opened #16 "installation error"
R:4.04
Is this my local environment  error?
Thank you for your help
`

Error in normalizePath(key$InstallPath, mustWork = FALSE, winslash = "/") :
  file name conversion problem -- name too long?
`

[2021-03-12 03:40] #16 closed

[2021-03-22 05:28] leihouyeung opened #17 "Question about the function "test_spot_fun""
When I run "test_spot_fun" function, the outputs of cell composition are all zero. What's the matter?

[2021-03-24 07:55] sengao86 opened #18 "using purrr::map to speed up deconvolution process"
Hi,

The deconvolution process is pretty slow, as one spot takes roughly 10~30s. For a large dataset consisting of thousands of spots, the whole deconvolution process consumes more than 5 hours, making it hard for the user to tune the parameter quickly based on the results. Part of this problem is that spotlight deconvolute spots one by one. Any thoughts to append parallel computing in the spotlig

[2021-03-24 19:27] MarcElosua commented on #18
Hi @sengao86,

Thanks a lot for using SPOTlight and taking the time to go over it and provide feedback!
As far as I'm aware the current bottle-neck is the Matrix Factorization, I am currently exploring ways to parallelize that step to significantly increase the speed. The option I'm looking into right now is using `parallel-NMF` from the NMF package but I'm open to suggestions.

I will keep you up

[2021-04-06 04:08] #18 closed

[2021-04-06 04:12] sengao86 opened #19 "a new error encountered"
Hi,

I encountered an error when run deconvolution:

Error in nnls::nnls(A = W, b = count_mtrx[, i]): NA/NaN/Inf in foreign function call (arg 5)
Traceback:

1. spotlight_deconvolution(se_sc = qin, counts_spatial = st_data[[1]]@assays$Spatial@counts[,
 .     1:2], clust_vr = "majorCluster", cluster_markers = cell_type_markers,
 .     cl_n = 10, hvg = 300, ntop = NULL, transf = "uv", method = "nsNM

[2021-04-06 04:24] #19 closed

[2021-04-06 11:16] MarcElosua commented on #19
Hi @sengao86 ,
I see you have closed this issue, hope you were able to solve the error!
Please let me know if you need any additional assistance,
Marc

[2021-04-07 00:36] sengao86 commented on #19
Hi @MarcElosua MarcElosua,

Yes the problem solved. Thanks!

[2021-04-13 05:07] microbiomeCat commented on #9
Hi, I have try the  SPOTlight::spatial_scatterpie on my data too, However, I found all the spots were all located at the top left corner. Then I looked at the nrow(img) or ncol(img), it's about 15000, but the spatial_coord$imagecol_scaled or   spatial_coord$imagerow_scaled is about 20 to 550. I am not sure，but I think this correlation maybe not needed, since here the  spatial_coord$imagecol and  s

[2021-04-16 15:49] mvhunter1 opened #20 "Error with NMF function when running spotlight_deconvolution"
Hi,

Thank you so much for developing this really interesting tool! I've been using it on some Visium datasets with mixed success. Sometimes spotlight_ls will run without any errors but sometimes it throws an error related to the NMF package/function:

"Error: NMF::nmf - Input matrix x contains at least one null or NA-filled row."

This error seems to happen almost randomly, as sometimes spotlight

[2021-04-19 12:47] MarcElosua commented on #20
Hi @mvhunter1 ,
Thanks so much for using SPOTlight on your data! I believe this error is encountered when empty rows are passed to NMF. This can be due to one/some of the marker genes or variable features are all 0 in the count matrix. A most likely scenario is that the variable features are obtained and then the Seurat object is subsetted, therefore some of the variable features in the original o

[2021-04-19 15:29] mvhunter1 commented on #20
Hi Marc, thanks! I think I figured out the issue and it was basically what you said - I was using the "integrated" assay from a single-cell object where I'm assuming it contained NAs from genes that were present in one of the original objects but not the other. Using the SCT assay solves the problem as would I suppose subsetting the integrated object to include only genes present in both datasets.

[2021-04-19 19:43] ph329 opened #21 "Error: object 'count_mtrx' not found"
Hi,

I'm getting the following error at the "Training...." step when trying to run spotlight_deconvolution when transf is set to either "sct" or "cpm":

Error in NMF::nmf(x = count_mtrx, rank = k, seed = nmf_init, method = method) :
  object 'count_mtrx' not found

It works perfectly with transf = "raw" or "uv" so the issue seems to be related to the transformation type itself. Any idea? Thanks!

[2021-04-23 16:38] #20 closed

[2021-04-27 09:21] xuhanshi opened #22 "spatial_scatterpie does not work"
Hi.
I use the demo data and demo code to run the basic workflow. I can not use Rstudio on my server while other code and results are run the same way as in the workflow except the spatial_scatterpie.
The spatial_scatterpie does not work. It gives the original .png file without any pies and labels on it. The spatial_scatterpie also return two warning:
1: In SPOTlight::spatial_scatterpie(se_obj = an

[2021-05-19 18:43] sarahcooper22 opened #23 "spotlight_deconvolution error"
Hello, I am trying to run my data through the same code as is provided for the tutorial and keep running into the issue below. The tutorial code with the provided brain data ran perfectly fine, but I am not having any luck on my own work. If you have any suggestions, that would be greatly appreciated! Thanks!
![SPOTlight_error](https://user-images.githubusercontent.com/60239141/118866777-925fe100-

[2021-05-21 06:36] MarcElosua commented on #23
Hi @sarahcooper22 ,
I suspect this may happen because there are genes that have 0 UMI counts for all the cells, could you try removing those genes and re-running it?
Hope this helps!

[2021-05-21 08:58] MarcElosua commented on #22
Hi @xuhanshi
Thanks for reporting this, the bug should be fixed in the latest version.
Thanks so much for your patience!
Marc

[2021-05-21 09:01] MarcElosua commented on #21
Hi @ph329,
Sorry for the delayed answer, and thanks for reporting this. I must have forgotten to change the description of the `transf` variable since SCT is no longer supported. You can do so with the raw command and passing the SCT@data slot instead of the raw counts slot.
I will update this right away!
Thanks,
Marc

[2021-05-21 16:30] sarahcooper22 commented on #23
Thank you for the prompt reply! I will give that a try, thank you for your help.

[2021-05-23 19:15] Roopali24 opened #24 "Error in installation"
Hi, I am having trouble installing SPOTlight. When I run the command:

[code]
I get the following error:
Downloading GitHub repo satijalab/seurat@spatial
Error in utils::download.file(url, path, method = method, quiet = quiet,  :
  cannot open URL 'https://api.github.com/repos/satijalab/seurat/tarball/spatial'
✓  checking for file ‘/private/var/folders/nt/fw_0vt6n647_d_zvvngdkj_c0000gn/T/Rtmpj3iot

[2021-05-25 20:44] NKalavros commented on #24
I've encountered this error too in R 4.0.1.

It is some weird code in the functions' manuals. I've been able to successfully install the package by having R ignore those warnings. You can do this using the following snippet:

```Sys.setenv(R_REMOTES_NO_ERRORS_FROM_WARNINGS="true")```

And confirm that is was set using:

```Sys.getenv(x = "R_REMOTES_NO_ERRORS_FROM_WARNINGS")```

before running:

[c

[2021-05-26 01:59] Roopali24 commented on #24
Thank you so much! This worked for me. :)

[2021-05-26 01:59] #24 closed

[2021-05-26 09:04] #21 closed

[2021-05-26 09:06] MarcElosua commented on #24
Thanks so much @Roopali24 for reporting this issue and @NKalavros for the solution,
I have looked into it and it was due to a % being in the argument description of the function which then messed up the .rd files.
This should be fixed now in the master branch!

Thanks for your interest in SPOTlight

[2021-05-26 15:32] Roopali24 commented on #3
Hi,

If we have count data (X) with rows as genes and columns as locations for spatial data, can we just convert it to the  desired format using:

[code]

Similarly for single cell data, we can use:

[code]
where sc_count has the gene expression with rows as genes and columns as cells, sc_label$celltype contains the annotations for these cells.

Then can we run our code as such:

[code]

Does this

[2021-05-26 15:39] MarcElosua commented on #3
hi @Roopali24 ,
In your case with the spatial data you can directly pass the count (X) matrix, no need to convert it to a Seurat object.

[code]

[2021-05-26 15:46] Roopali24 commented on #3
Thank you. Everything else seems okay?

[2021-05-26 15:52] MarcElosua commented on #3
There are some parameters that can be tuned depending on the complexity of your dataset but as a first approach it looks good!

[2021-05-26 15:55] Roopali24 commented on #3
Okay. Thank you. I'll look into the other parameters.

[2021-06-05 18:38] Loudon85 opened #25 "get_spatial_interaction_graph - no labelling present"

[2021-06-05 18:43] Loudon85 commented on #25
Hi again - I imported a "lo resolution" image from the 10x website into the spatial file and it is indeed the hi resolution image issue. Any thoughts about how to get around this?

Kev

[2021-06-05 18:50] #25 closed

[2021-06-05 19:12] Loudon85 opened #26 "spatial interaction graph - plotting error"
Hi Marc,

Firstly SPOTlight is an awesome package - really useful for our spatial data.

I appear to have an issue with the spatial interaction graph plotting (see attached pdf) - as you can see the plot is absent of all labelling and I cannot work out why as all other aspects of your vignette have worked superbly.

Any thoughts on how to address this issue?

BW

Kev

[Plot_error.pdf](https://gith

[2021-06-11 17:02] MarcElosua commented on #26
Hi @Loudon85 ,
I've tried to replicate your issue but in my machine I can replicate the plot with the labels.
![image](https://user-images.githubusercontent.com/16361091/121723789-404d5c80-cae7-11eb-87ca-5a14417abac8.png)

Here is my session info specifying the packages and their versions, could you check if we have the same version of igaph?

[code]

[2021-06-13 18:47] WesDe opened #27 "Spot composition visualization"
Hi,

I am trying to compare your deconvolution method with Seurat integration method. To do so, I am trying to reproduce your vignette with some Visium public dataset (kidney mouse). Single cell data used for the deconvolution comes from a RDS file storing a merged dataset  (4 scRNA seq) that i have annotated (a column carries the information about cell type for each cell).

I didn't get warning f

[2021-06-16 14:01] #22 closed

[2021-06-16 14:06] MarcElosua commented on #27
Hi @WesDe ,
Thanks so much for giving SPOTlight a shot!
This is indeed very odd, as a quick fix I would suggest removing the unknown cell type from the training set since it seems that it is capturing all the signal...
Could you share with me the trained NMF model so I can take a look at what might be happening?
`NMFmod <- decon_mtrx_ls[[1]][[1]]`

thanks for reaching out and sorry for the inconve

[2021-06-17 12:11] WesDe commented on #27
Hi @MarcElosua,

Thanks for the quick reply. I saw that i didn't remove cells associated with high mitochondrial genes expressed from my scRNA sequencing dataset. This caused to have a cluster called unknown, i don't think it can be the reason behind this kind of issue. I annotated again my sc RNA seq dataset with removing high mitochondrial genes expressed cells but it did not change the result.

[2021-07-07 16:36] MarcElosua commented on #27
Hi @WesDe
So sorry for the late reply, I put together a brief R markdown document where I took a more in-depth look at what may be happening in your situation. Since it is your data do you mind me posting it here? If not, could you please share with me your email address so I can send it directly to you?

Thanks again for giving SPOTlight a shot and for your patience!
Marc

[2021-07-09 07:20] WesDe commented on #27
Hi @MarcElosua,
The data come from a 10x genomics public dataset so I don't mind if you post it here. It may even help people if they encounter the same issue.

Best,
Wes

[2021-07-13 16:29] MarcElosua commented on #27
Hi @WesDe ,
I added the output PDF file as well as the Rmarkdown file (as .txt as github doesn't allow me to upload the .Rmd).
Briefly I believe the issue is due to Regulatory T cells in your 1st run and the Unkown cell in the 2nd run. These cells don't  have a clear topic obtained after running NMF. This is due to the cells grouped into that cell type have very heterogeneous profiles. Therefore,

[2021-07-30 02:16] semir2 opened #28 "what is the meaning of important gene for each topic ?"
Hi,
    Thank you for your great tool.This is really helpful. I have been  with the value of important gene for each topic, what is meaning for high value and low value?
![image](https://user-images.githubusercontent.com/46958122/127589809-2c22f3f6-5f94-497b-aaa3-5bf64f998416.png)

[2021-08-04 11:03] MarcElosua commented on #28
hi @semir2
Thanks for your interest in SPOTlight!
These are the values learned by the NMF basis matrix. They have no direct interpretation as stand alone numbers and should be looked in the context of each topic.
The general idea of the basis matrix is that each topic learns which genes are important for its associated cell type. Therefore, larger values indicate a higher importance of that gene w

[2021-08-04 14:38] mengchengyao commented on #28
Hi @MarcElosua ,thanks for your reply, it helps me a lot.

Best wishes

[2021-08-04 14:39] #28 closed

[2021-08-11 19:22] cadyyuheng opened #29 "get_spatial_interaction_graph_fun.R"
First, thanks for this fantastic tool! However, as I'm following the vignette, I have some issues understanding the calculation behind `get_spatial_interaction_graph_fun`

In particular, I didn't quite follow how the importance of the network is calculated by the algorithm. Besides, is there a reason why the row sum of `decon_mtrx` is not 1? Intuitively, since the row sum represents the sum of the

[2021-08-17 18:42] wakelin-g opened #30 "Cell overabundance in deconvolution"
Greetings,

I have been trying to deconvolute my spatial data using a single-cell dataset of ours, however, for some reason a known cell-type is appearing to be much too abundant in the deconvoluted spots. When I look at a FeaturePlot of a gene specific for this cell type, there are only a few spots. If I set `min_cont` to a cutoff where the expression is more appropriate, it ends up cutting off a

[2021-09-28 13:24] astrid12345 opened #31 "Mouse vs human gene symbols"
Hello,

thank you for developing this helpful deconvolution tool! I was wondering in the function spotlight_deconvolution(), if it is already possible to use **mouse** SC data for deconvolving **human** ST data. The function now returns the error "Not enough genes in common between the single-cell and mixture dataset." which makes complete sense! The mouse gene symbols still have to be converted t

[2021-09-28 14:22] MarcElosua commented on #31
Hi @astrid12345

You got it spot on, the function returns not enough genes in common due to the differences in the gene symbols.
I haven't tried using mouse SC data to decompose human ST but there shouldn't be major issues besides some information being lost when converting genes to their homologous symbol.

If you have paired data from the same model/experiment I would suggest trying to convert t

[2021-09-28 15:36] MarcElosua commented on #30
hi @wakelin-g

Thanks a lot for using SPOTlight and apologies for the late response!

In your case I would try 2 things that can help you get a sense of what may be going on.

1. I would look if all the cells from that cell types have a similar profile distribution and if so which genes are defining the topic profile for that cell type. You can take a look at how to do this in the section `0.6.2 A

[2021-09-28 15:36] #27 closed

[2021-09-28 16:13] MarcElosua commented on #29
hi @cadyyuheng

Thanks a lot for using SPOTlight and sorry for taking so long to reply.

The function `get_spatial_interaction_graph_fun` intends to be a visual representation of the  number of spots in which 2 cell types are found together. First it computes the number of times 2 cell types are co-localizing and then it scales the value between 0-1 for easier plotting.

With regards to the `decon

[2021-09-29 14:25] astrid12345 commented on #31
Hi MarcElosua,

Great! Thank you for the advice - I will take it into account.
Yes, it's only a suggestion. I totally agree with you no matter when it's done (during SC pre-processing or as arguments in the function) the user should be aware and be able to choose how to deal with the gene symbol mappings.

[2021-09-30 10:44] #31 closed

[2021-10-06 12:47] astrid12345 opened #32 "Question for multiple ST samples"
Dear MarcElosua,

I have multiple ST samples in one experiment. I am wondering, once my NMF model is trained ( nmf_mod_ls in the tutorial), can I use one NMF model for multiple ST samples to deconvolve the mixture/spots?

What conditions do the samples need to satisfy before I could try using the same NMF model? Or would you recommend always training the NMF again for each sample?

Thanks,

[2021-10-07 15:38] astrid12345 commented on #32
thanks! i already ended up running each NMF for each replicate!

[2021-10-07 18:56] MarcElosua commented on #32
Hi @astrid12345

This may come a bit late but an approach I use sometimes to run SPOTlight on multiple samples is to merge them all in 1 Seurat object and run it on it. This allows you to train the model once only and reduces the computational bottleneck an also ensures all the samples have the same model trained on them. Obviously this should be done if the samples are similar between them!

Than

[2021-10-08 08:05] astrid12345 commented on #32
Ah thanks, i didn't think of that! Yes, this could really help in the future. I wanted to share how much I appreciate SPOTlight: your workflow is elegant, simple and computationally efficient. Thank you for this wonderful contribution!

[2021-10-15 17:25] skim245 opened #33 "applying SPOTLight on multiple ST samples"
@MarcElosua thank you for developing a great "Deconvolution" tool for spatial transcriptomics
I have a follow-up question on #32.
I also have multiple ST samples in seurat object and run the SPOTLight in a merged format and would like to visualize individual samples and would like to know if there is an easy way to split the visualization based on sample names/replicates.

In addition, I would als

[2022-01-05 10:27] WesDe opened #34 "Interpretation graph interaction and cell-cell correlation"
Hi,

Thank you again for your tools which provides some interesting features compared to other tools ! I had a naive question about graph interaction and cell-cell correlation. In your vignette we can see that some cell types have a strong interaction but a weak correlation (Astro - Oligo : -0.1). I might miss an important point but I thought that if cell types had a strong interaction they would

[2022-01-10 09:06] #30 closed

[2022-01-10 09:06] #29 closed

[2022-01-10 09:06] #26 closed

[2022-01-10 09:15] MarcElosua commented on #34
Hi @WesDe,

Thanks for your question it is very interesting and I can see where the confusion can come from.
The graph interaction represents the total number of spots in which those 2 cell types are found. Therefore, two cell types that co-localize in space can either show a negative or positive correlation. As you mention, cell types that are found in many spots will likely have higher number of

[2022-01-10 09:20] #2 closed

[2022-01-10 09:26] MarcElosua commented on #33
Hi @skim245,

To visualize individual samples I recommend iterating  over the sample names and apply the visualization function of interest to a subset of the Seurat object containing the data for that slide.

As for your second issue, I don't understand what you mean. Ultimately SPOTlight returns a `spot x cell type` matrix where the values are doubles. I would need a bit more context to understa

[2022-01-10 19:23] morganee261 commented on #9
Hello @MarcElosua, I am also experiencing the same issue, on some of my samples the spots are shifted from the image. I am using SPOTlight 0.1.7. Would you be able to help ?
thanks for this nice package
morgane

[2022-01-12 13:33] WesDe commented on #34
Hi @MarcElosua ,

Thanks for the clear answer !

WesDe

[2022-01-12 13:33] #34 closed

[2022-01-12 13:52] WesDe opened #36 "Spatial_scatterpie mutate() error"
Hi !

I followed your tutorial with my own data but when I came to the part to plot the scatterpie with specific cell type of interest an error rise about mutate:

Here my sessionInfo if it helps:

Any idea ? I see that the issue comes from dplyr but I am unable to figure out how to resolve it.
Best,
WesDe

[2022-01-13 22:59] morganee261 opened #38 "spatial_scatterplot spots not aligned with image"
Hello,
I am trying to plot the spot composition using your spatial_scatterplot function. It works great for 2 out 4 of my samples. But for the other ones the spots are misaligned form the sample image even though I use the exact same code. Here it is :
SPOTlight::spatial_scatterpie(se_obj=C140,
                              cell_types_all = cell_types_all_C140,
                              img_pa

[2022-01-23 22:04] ccomo0730 opened #39 "spotlight_deconvolution function error"
Hello, I am currently running the SPOTlight package and attempting the spotlight decomposition portion of the. code on my reference scRNAseq data. The code I am running is below:
#Spotlight decomposition
set.seed(123)
spotlight_ls <-spotlight_deconvolution(
se_sc = E14_sc,
counts_spatial = anterior@assays$RNA@counts,
clust_vr = "subclass", # Variable in sc_seu containing the cell-type annotation
c

[2022-01-24 00:40] MarcElosua commented on #39
hi @ccomo0730

Thanks a lot for your interest in SPOTlight!

We are currently on the process of submitting SPOTlight to bioconductor and there have been some styling changes on this branch compared to previous releases. If you want to use the version we are currently submitting feel free to look at the updated vignette [here](https://github.com/MarcElosua/SPOTlight/blob/main/vignettes/SPOTlight_ki

[2022-01-24 03:44] ccomo0730 commented on #39
Hi Marc,
Thank you for your help! Unfortunately I am still having the same error. I am using the previous version vignette with the previous version code.

[2022-01-24 15:52] MarcElosua commented on #39
Have you installed the SPOTlight like this?
[code]

[2022-01-24 16:07] ccomo0730 commented on #39
Hi Marc,

I tried removing the package and reinstalling it with the code you provided, but I am still having the same issue. I can see that this function is listed under the package information, so I am not sure why I am still receiving the error!

Thanks,

Christina Como
PhD Candidate
Neuroscience Program, Siegenthaler Lab
University of Colorado Anschutz Medical Campus
E: ***@***.******@***.***>

[2022-01-24 16:16] ccomo0730 commented on #39
Hi Marc, after using the code you provided and restarting my R session it worked! Thank you!

Christina Como
PhD Candidate
Neuroscience Program, Siegenthaler Lab
University of Colorado Anschutz Medical Campus
E: ***@***.******@***.***>
Pronouns: she/her/hers

[CU Anschutz Website]<https://www.cuanschutz.edu/>

________________________________
From: Como, Christina ***@***.***>
Sent: Monday, Januar

[2022-01-24 16:34] #39 closed

[2022-01-26 18:07] MarcElosua commented on #36
Hi @WesDe

Are the `cell_types_interest` names identical to those in the metadata?

[2022-01-26 18:13] MarcElosua commented on #9
Hi @microbiomeCat & @morganee261,

Sorry to hear that this is happening, the implementation @onahman proposed was already in place in version 0.1.7. Are you using the same image path you used to build the spatial Seurat object? Sometimes there may be issues if you used highres and lowres for the other since the pixels and scaling factors don't match

[2022-01-26 18:14] #3 closed

[2022-01-26 18:17] MarcElosua commented on #38
I believe I answered your question here - https://github.com/MarcElosua/SPOTlight/issues/9

[2022-01-31 14:11] WesDe commented on #36
Hi @MarcElosua,

You are right I don't know how but special characters such as space have been changed to dot in cell_type_all.

Best,
WesDe

[2022-01-31 14:11] #36 closed

[2022-02-03 17:42] zdebruine commented on #14
You probably may want to look at switching from the `NMF` package to `RcppML::nmf`.  About 60x faster than the NMF package, and natively supports parallelization and sparse matrices.  I am the author, if you have any questions just let me know.  You should fit 50k cells x 20k genes in <1 minute on any good compute node.

Nice algorithm @MarcElosua!  I learned about it during a seminar and was pret

[2022-02-08 03:54] gabebarron opened #41 "SPOTlight Compatibility with Staffli Objects Generated from STUtility"
Hi!

I have been processing some 10X Visium data with [STUtility](https://ludvigla.github.io/STUtility_web_site/). The pipeline generated therein returns a Staffli object where the scaled images in raster format and coordinates for the corresponding spots are saved.

I later turned the Staffli object into a Seurat object to do harmony integration and clustering analysis, but when I try to plot the

[2022-02-10 10:00] astrid12345 opened #42 "Interpretation heatmap cell interactions"
Dear MarcElosua,
thank you for this great tool! I really like the plot where cell-cell interactions are visualized in a heatmap, it is visually very intuitive. I understand the proportion is based on the count of spots where a particular combination of 2 celltypes are present, but I’m unsure how this proportion is calculated exactly.
![CWM](https://user-images.githubusercontent.com/11950358/153383

[2022-02-16 15:22] astrid12345 commented on #42
Dear MarcElosua,

I played around using your source code, and I tried out this normalization giving an "undirected" heatmap. For me, the plot now fits better what I know from literature is occurring in my data, but I could be completely misunderstanding your system. What do you think? Do you think this normalization method is suitable?

[code]

[2022-03-03 03:28] rocketeer1998 opened #43 "A typo in updated vignette"
Hi there. Maybe there is a typo in the updated vignette. In line 237, `n_cells <- 2` should be modified to `n_cells <- 20` which means downsample to at most 20 per identity. Am I right?

[2022-03-10 02:37] rocketeer1998 opened #44 "Insufficient number of features shared between single-cell and mixture dataset."
Hi there. When I run `SPOTlight()`, there is an error that says `Insufficient number of features shared between single-cell and mixture dataset.`. What's the meaning and how can I fix it? Thanks a lot!

I'm annotating a Visium FFPE data using a reference scRNA-seq data. I wonder whether the inconsistency between the total number of genes detected in Visium and scRNA-seq leads to the above error?

[2022-03-10 20:36] MarcElosua commented on #44
Hi @rocketeer1998 ,

Most likely there isn't enough overlap between the gene names between the SC and ST data.
Can you try running:

`intersect(rownames(sc), rownames(st))` and see how many features are shared.

[2022-03-10 20:39] MarcElosua commented on #43
Yup, thanks for spotting that! It should be 20 for the vignette. In practice I would set it around 75-100  cells per cell type to make sure `SPOTlight` has enough cells to learn the cell type signature.

[2022-03-10 20:40] #33 closed

[2022-03-10 20:40] #38 closed

[2022-03-10 20:46] MarcElosua commented on #41
Hi @gabebarron,

Thank you for using SPOTlight and apologies for the delay in answering.
If you install the latest version of SPOTlight you should be able to run `plotSpatialScatterpie` regardless of the data container.
You can pass the parameters x (coordinates) and y (deconvoluted celltypes) as matrices. As for the image you can pass the path of the image you fed to spaceranger!

Please let me k

[2022-03-10 21:06] MarcElosua commented on #42
Hi @astrid12345

Thank you so much for your interest in SPOTlight and apologies for the delay in answering.
Thank you for suggesting the use of the Jaccard index, we will definitely add it in the next iteration of SPOTligt.
here goes my explanation of how to interpret the interaction plot:

As per your previous comment here is the explanation, as an example, if we have:
[code]

By doing the above

[2022-03-11 09:15] rocketeer1998 commented on #44
Thanks for your reply, Marc! There are 2905 genes after trying `intersect(rownames(sc), rownames(st))`.
I have to add that my spatial data is obtained from Visium FFPE experiment, which means that the total amount of genes detected is less than that of normal Visium experiment(for fresh frozen tissue). Should we take this factor into account?

[2022-03-11 15:13] MarcElosua commented on #44
The FFPE sample could definitely influence the quality of the data. Can you check how many variable features from the sc are intersecting with the st?

[2022-03-14 00:52] rocketeer1998 commented on #44
There are 1004 variable features from the sc intersecting with the ST.

[2022-03-14 14:32] larouchej opened #45 "Error: 'spotlight_deconvolution' is not an exported object from 'namespace:SPOTlight'"
After updating my R version and re-installing SPOTlight via github via the following command:

devtools::install_github("https://github.com/MarcElosua/SPOTlight")

I am getting the above error. Do you know how to fix this issue? I have tried re-installing without success. In the past, SPOTlight has worked for me (version 0.1.7, whereas now it looks like version 0.99.4 is installed)

Thanks in adva

[2022-03-14 15:56] MarcElosua commented on #44
Can you try plugging in these features to the parameter `hvg` from `SPOTlight` function?

[2022-03-14 15:58] MarcElosua commented on #45
Hi @larouchej

As we are rewriting SPOTlight we decided to rename the function `spotlight_deconvolution` to `SPOTlight`. This is just a change of the name since the underlying code shouldn't change the ouput. Can you try calling SPOTlight as:  `SPOTlight::SPOTlight(...)`

[2022-03-14 17:13] larouchej commented on #45
That works. Sorry I missed the change--is it included in an updated vignette, or not yet? Thank you!

[2022-03-14 17:15] MarcElosua commented on #45
No problem! You can find the updated vignette Rmd file [here](https://github.com/MarcElosua/SPOTlight/blob/main/vignettes/SPOTlight_kidney.Rmd).

Apologies for the inconvenience and let me know if you have any further questions!

[2022-03-14 21:42] #45 closed

[2022-03-15 01:21] rocketeer1998 commented on #44
I'm not quite sure I follow. What's the meaning of `hvg` in `SPOTlight `and what should we set the `hvg `to?

In my opinion, I reckon this error is caused by the fact that the genes in `mgs_df ` for which are used in determining cell types are not wholly present in my spatial data.  Is it right?

[2022-03-15 01:22] rocketeer1998 commented on #44
I'm not quite sure I follow. What's the meaning of `hvg `in SPOTlight and what should we set the `hvg `to?

In my opinion, I reckon this error is caused by the fact that the genes in `mgs_df `for which are used in determining cell types are not wholly present in my spatial data. Is it right?

[2022-03-15 11:30] rocketeer1998 commented on #44
For convenience, below is my code.

[code]

<sup>Created on 2022-03-15 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-03-15 13:35] MarcElosua commented on #44
Thank you so much for sharing the code, this will make it much easier to troubleshoot what may be going on.

`hvg` is a character vector containing the highly variable genes to to include in the model. Ideally you would use the ~3.000 most HVG  from the SC dataset to complement the gene set of marker genes identified with `scoreMarkers`. Since in your case there is very little overlap between the

[2022-03-16 01:56] rocketeer1998 commented on #44
After trying this
[code]
I can start to run for a second but another error comes out:
[code]

What's the meaning?

[2022-03-17 22:56] RahmatpourNasim opened #49 "could not find function "downsample_se_obj""
Hi,
I am trying to do downsampling a data reference for deconvolution, have installed the library but getting this error:
could not find function "downsample_se_obj"
Is this function in spotlight package?
I am using these libraries:
library(Seurat)
library(ggplot2)
library(dplyr)
library(purrr)
library(SPOTlight)
library(NMF)
library(nnls)
library(scrattch.io)
library(scater)
library(scran)

[2022-03-21 17:42] #49 closed

[2022-03-24 04:35] RahmatpourNasim opened #50 "Is old version of spotlight compatible with R version 4.1.3?"
Is old version of spotlight compatible with R version 4.1.3?

[2022-03-25 17:25] MarcElosua commented on #50
Yes, The old version of SPOTlight should be compatible with R 4.1.3.
Regarding the email you sent me I'll reply here so that anyone can see teh reply in case they have the same issues:

[2022-03-25 17:27] MarcElosua commented on #50
Yes, The old version of `SPOTlight` should be compatible with R 4.1.3.

Regarding the email you sent me I'll reply here so that anyone can see the reply in case they have the same issues:
The new verions of `SPOTlight` still has all the visualization options the older version had - you can see how to use them in the [vignette](https://github.com/MarcElosua/SPOTlight/blob/main/vignettes/SPOTlight_k

[2022-03-25 19:32] RahmatpourNasim commented on #50
Thanks Marc for responding me. Another thing I realized is that this function "plotSpatialScatterpie" flip the spatial image vertically, I tried to convert the "col" to negative in image coordinates but that change the orientation horizontally. This actually was done easily in seurat image. any suggestion for that?
Also the old version has this function in which specific cells of interest only sho

[2022-03-25 21:58] RahmatpourNasim commented on #50
ok,  this ggplot option "scale_y_reverse()"  made the orientation correctly
I still have the second question, I'd appreciate if you can help me.

[2022-03-28 19:37] MarcElosua commented on #50
Hi @RahmatpourNasim

If you just want to plot 1 cell type you can use Seurat's `Seurat::SpatialFeaturePlot()` and it will grab it from the metadata. If you want to plot the spatial scatterpie only with a subset of the deconvoluted cell types you can use `plotSpatialScatterpie()` and pass the vector of cell type of interest to the `cell_types` argument.

[2022-03-29 06:46] jenli3 commented on #41
Dear Marc

I've had the same issues as well using plotSpatialScatterpie using STUtility/Staffli spatial data using infoTable input which contains imgs, json, slide, spotfiles and samples

brief example:

_spe = InputFromTable(infotable = infoTable,
                     min.gene.spots = 5,
                     min.spot.count = 50,
                     platform = "Visium")
st.object = GetStaffli(spe

[2022-03-30 15:22] MarcElosua commented on #41
hi @jenli3,

I haven't played around with `STutility` so I don't know how the conversion function works or how the Seurat object looks after it. When using plotSpatialScatterpie you can directly pass to the function the spot coordinates. Extracting them from Seurat looks like this:

[code]

I wonder how x looks for the converted Seurat object since `plotSpatialScatterpie` should do this under the

[2022-03-30 16:40] MarcElosua commented on #44
hi @rocketeer1998 sorry for the delay in replying. Does the variable "cluster" exist in mgs_df? It seems like it is trying to split the dataframe by groups but it can't find the grouping column ("cluster").

[2022-03-31 08:31] emparbaltasar opened #51 "Change size pie charts (plotSpatialScatterpie)"
Hi,

I am trying to change the size of the pie charts with the argument pie_scale but it doesn't change anything. Would you be able to help with that?

Thank you in advance,
Empar

[2022-03-31 14:45] MarcElosua commented on #51
Hi @emparbaltasar,

Thanks a lot for using SPOTlight!

Whe I run `plotSpatialScatterpie` on a test set as follows the pie_scale does seem to work
[code]

![image](https://user-images.githubusercontent.com/16361091/161082774-4034f4de-6a52-4e60-8af9-01a6a355ae23.png)

Could you please provide a reprex where I can replicate your issue please?

Marc

[2022-03-31 14:52] MarcElosua commented on #51
I think I might have spotted what was going wrong, could you try reinstalling SPOTlight from the `bioc` branch like this:

`BiocManager::install("SPOTlight", version = "devel")`

And check if it works now?

[2022-04-01 07:39] emparbaltasar commented on #51
Hi Marc,

Thank you for the fast reply.
I can’t install the devel version of SPOTlight because I get this error:

Error: Bioconductor version '3.15' requires R version '4.2'; use `BiocManager::install(version = '3.14')` with R version 4.1; see
  https://bioconductor.org/install <https://bioconductor.org/install>

I have Bioconductor 3.14 and R 4.1.

Best,
Empar

[2022-04-01 16:37] MarcElosua commented on #51
My apologies, I meant to direct you to this branch where I'm currently developing the code:

`BiocManager::install("SPOTlight", version = "bioc")`

[2022-04-04 16:34] emparbaltasar commented on #51
That gives me this error:
`Error: invalid version specification ‘bioc’`

[2022-04-04 18:00] MarcElosua commented on #51
Can you try directly from GitHub, we are finalizing the steps to submit it to Bioconductor but we're not fully accepted.

`devtools::install_github("https://github.com/MarcElosua/SPOTlight", ref = "bioc")`

Sorry for the inconvenience!

[2022-04-05 08:52] emparbaltasar commented on #51
That worked, thanks!

[2022-04-05 08:52] #51 closed

[2022-04-07 11:30] Peter-bbh opened #52 "Topics to Cell types"
Hi,

How do you go from topics to cell types using the SPOTlight code?

When I run the example code (SPOTlight_kidney.Rmd) I only obtain "topics" and not the Cell types, except for the plotTopicProfiles(...facet=TRUE) in the end of section 4.1.

Is it correct that for instance the ScatterPie in section 4.4 show the distribution of topics instead of cell types?

![Section 4 4](https://user-images.g

[2022-04-08 01:49] sailseem opened #53 "install error"
Dear developer,

I know this install error has been reported, but I tried different ways to install, still did not work. Can you help me? I am using M1 chip MacBook and r version was 4.1

Downloading GitHub repo MarcElosua/SPOTlight@HEAD
These packages have more recent versions available.
It is recommended to update all of them.
Which would you like to update?

1: All
2: CRAN packages only
3: None

[2022-04-08 20:58] RahmatpourNasim commented on #52
@Peter-bbh I have seen that too, that's how I solved it:
1) I converted the single cell reference seurat object to singlecell experiment
[code]
2)after running Deconvolution command,  I changed the mat column name
[code]

[2022-04-08 20:59] RahmatpourNasim commented on #50
Thanks @MarcElosua

[2022-04-11 11:25] Peter-bbh commented on #52
@RahmatpourNasim
Thanks for your suggestion. I did consider something like that, but it requires that the column order in mat and the sce annotation are the same. And I failed to convince myself that this is indeed the case.

[2022-04-11 13:36] MarcElosua commented on #52
Hi @RahmatpourNasim  and @Peter-bbh ,

Thank you so much for reporting on this issue, I will look into why/where the names are replaced with `topics_*`  and get back to you as soon as possible. For now I would follow the approach suggested by @RahmatpourNasim!

Marc

[2022-04-11 13:37] MarcElosua commented on #50
hi @RahmatpourNasim It seems that this solved your question so I'm going to close the issue. Feel free to open it again if you have any follow ups!

[2022-04-11 13:37] #50 closed

[2022-04-11 13:37] #42 closed

[2022-04-11 13:53] MarcElosua commented on #53
Hi @sailseem

Thank you so much for your interest in `SPOTlight`! I cannot gather much information from the error message you posted. However, `SPOTlight` has Bioconductor dependencies. Currently Bioconductor doesn't provide binaries for M1 processors since they compile them in Intel machines. My suggestion would be to install the intel R version ([R-4.1.3.pkg](https://cran.r-project.org/bin/macos

[2022-04-12 08:27] swainasish commented on #12
In the simulated dataset, I can't find the labels of snRNA and ST data, It will be really helpful if you share those also.

[2022-04-14 01:15] wfxcode opened #55 "Does the new spotlight have an improvement over the old in the core algorithm part?"
Hi,
I hope to cite your article.
Can I use spotlight-0.1.7 branch for comparsion in my experiments?

[2022-04-14 22:53] jenli3 commented on #41
Thanks Marc

I couldn't fix the issue, there's something about STUtility's S4 generation, I could not convert it to a SeuratObject your scripts ask for.

Even when checking **str(object)**, I get
_"Formal class 'Seurat' [package "SeuratObject"] with 13 slots"_
but **is(x, "Seurat")** returns _FALSE_

Instead
- I extracted the (x,y) coordinates from their output "object@tools$Staffli@meta.data"
- m

[2022-04-18 14:52] MarcElosua commented on #41
Hi @jenli3 ,

I will try to implement this when I have some time. In the meantime you can install the latest version of SPOTlight:

With the current version you can pass a matrix or dataframe to x and y with the necessary information:
[code]

Hope this helps!

[2022-04-18 15:03] MarcElosua commented on #55
Hi @wfxcode,

The current version maintains the core algorithm previously used. You should get the same results between the current version and SPOTlight 0.1.7. The main changes are major re-writes to abide with Bioconductor best practices.

[2022-04-18 16:43] wfxcode commented on #55
Thank you for the information.

[2022-04-23 19:50] weifangliu commented on #17
Did you figure out why this was the case?

[2022-04-23 22:50] MarcElosua commented on #17
Hi @weifangliu `test_spot_fun` is no longer supported. Using SPOTlight's latest version you can create synthetic mixtures from a single cell reference using `mockSP()` which returns the proportions in `metadata(sce)`.

[2022-04-23 22:50] #55 closed

[2022-04-24 01:27] weifangliu commented on #17
Thank you for the update!

[2022-05-23 14:31] emparbaltasar commented on #52
Hi @MarcElosua,
I am having the same issue. Is there already a more reliable solution than changing the mat column name?

[2022-05-23 22:17] #53 closed

[2022-05-23 22:19] MarcElosua commented on #52
Hi @emparbaltasar, could you share which version of SPOTlight you're using? The current version `0.99.11` in bioconductor (and main branch) should have this fixed. Let me know if this works for you.

[2022-05-30 09:36] Secretloong opened #56 "Cannot repeat the same result with the SPOTlight 1.0.0"
I run SPOTlight 0.1.7 and 1.0.0 with the same single cell data to model nsNMF and the same spatial date to deconvolution. But I got different annotated spatial results.

When I compared your R scripts, I found your W and H matrices having different dimensions to the 0.1.7 version.
`0.1.7: W is of dimension (#groups)x(#features), H is of dimension (#samples)x(#groups)`
`1.0.0: W is of dimension (#f

[2022-05-31 02:14] Secretloong commented on #56
It's my fault.

[2022-05-31 02:14] #56 closed

[2022-06-02 11:42] JJBio opened #57 "Questions concerning the workflow of SPOTlight"
Thank you for your very interesting tool!
I am following the updated [vignette](https://github.com/MarcElosua/SPOTlight/blob/main/vignettes/SPOTlight_kidney.Rmd) and have a few questions:

1) I have used Seurat to analyse my single-cell data and used `FindAllMarkers` with `only.pos = TRUE`. I then filtered the markers based on pct, adjusted p value and log2FC. Can I use these markers as input for

[2022-06-06 16:54] gpersad opened #58 "Issues using plotSpatialScatterpie() with Seurat"
Hi,
I was trying to use SPOTlight on visium data saved as a Seurat object. However, I ran into this issue:

<img width="940" alt="image" src="https://user-images.githubusercontent.com/82057654/172207973-c1938674-7853-4465-8d27-de2dad5f2552.png">

I looked at the code and it seems like the Seurat object x is getting converted into a matrix before the plotImage() step. This was done here when extrac

[2022-06-07 14:14] MarcElosua commented on #57
Hi @JJBio

Thank you so much for using SPOTlight! Here are some comments on your questions:

1. We specifically designed `SPOTlight` so it could take marker genes from different tools/methods. You can absolutely use log2FC, p-val or a combination of both!
2. When running `SPOTlight` with populations that are very similar I recommend 1st running it with the major cell type (CD4 T cell instead of CD

[2022-06-07 14:15] MarcElosua commented on #58
Hi @gpersad
Thank you so much for reaching out with the feedback!
Great point, I don't know how this escaped out units tests... I will look into and let you know when its fixed!

[2022-06-09 12:47] constantin-zackl opened #59 "Assay Parameter not working in SPOTlight function"
Hi there,

i think there is an issue with the SPOTlight() function and the contained trainNMF() call.
The parameter "assay" is missing in the trainNMF() call and therefore it is not possible to use a Seurat with an assay named other than "RNA". Logically this error does not appear when calling trainNMF() and runDeconvolution() separately while specifying the assay name.

The parameter "assay" shou

[2022-06-09 21:03] MarcElosua commented on #59
hi @constantin-zackl

Thank you so much for reaching out! I have added the parameters to `trainNMF` and have also implemented your suggestion :eyes: ! Now you can pass specific assays for the single cell and  and spatial objects through assay_(sc/sp) and slot_(sc/sp).

I will push the changes to Bioconductor in the next few days but you should be able to install it from github
[code]

[2022-06-09 22:15] MarcElosua commented on #58
Hi @gpersad

This should now be fixed on the main branch in github, I will be pushing it to Bioconductor in the next few days! Thanks for spotting it and reaching out!
You can install it form github as follows:
[code]

Let me know if it now works for you!

[2022-06-10 08:19] czackl commented on #59
Wow, thanks!!! That was fast. It works for me now. Have a great weekend!

[2022-06-10 08:19] #59 closed

[2022-06-14 10:40] JJBio commented on #57
Thank you for your response!

[2022-06-16 10:21] sokratiag opened #60 "Error: Couldn't extract image coordinates"
Hi,

I am trying to use spotlight on ST dataset (not 10x visium but the old protocol) but I get the following error:

Error in .extract_counts(y, assay_sp, slot_sp) :
  Couldn't extract image coordinates.
            Please check class(x) is SpatialExperiment, Seurat,
            dataframe or matrix
In addition: Warning message:
In .set_groups_if_null(x) : Grouping cells into celltypes by Idents(x

[2022-06-16 13:33] MarcElosua commented on #60
hi @sokratiag

Thank you for your interest on SPOTlight.

As you can see in the documentation of the parameters x and y represent the single-cell and mixture dataset, respectively. Can be a numeric matrix, SingleCellExperiment or SeuratObjecy. Therefore, I would suggest to convert st_count to a matrix format and it shouldn't return any errors

Sorry for the confusing error message, it was a copy-p

[2022-06-16 13:57] sokratiag commented on #60
hi @MarcElosua

Thanks a lot for your help - I converted the data frame to a matrix and problem solved!

[2022-06-16 13:57] #60 closed

[2022-06-20 07:27] sarashen2017 opened #62 "error when using trainNMF function"
I was trying to use trainNMF function, and here is the error code:

Error in asMethod(object) :
  Cholmod error 'problem too large' at file ../Core/cholmod_dense.c, line 102

Do you know how to fix it? Thanks!

[2022-06-20 18:40] MarcElosua commented on #62
hi @sarashen2017

This seems to be a problem when trying to convert a sparse matrix to dense (necessary with the current implementation but being fixed as we speak), see [stackoverflow](https://stackoverflow.com/questions/58302449/what-does-the-cholmod-error-problem-too-large-means-exactly-problem-when-conv). How large is your dataset (number of genes and cells?) I recommend subsetting the number

[2022-06-21 06:00] sarashen2017 commented on #62
I subset my genes to around 9000, and subset cells to 100cells/cell type. My final scRNA matrix is 9000x4700, however, my spatial data is still very large. The matrix is 9000x127810 (the 9000 genes are DE gene intersect of scRNA and spatial data).

[2022-06-21 17:00] MarcElosua commented on #62
Oh! Technically trainNMF doesn't need the information from the entire spatial matrix, it just needs the rownames to determine the union gene set with ST to use. Instead of the spatial matrix I would suggest to feed it a matrix of 9000x1 dimensions so that it can grab the rownames. This is something we are improving in the development version of SPOTlight!

Let me know if it works now!

[2022-07-07 03:30] Rslat opened #63 "Seurat Object Issues"
Hi Everyone,

Just want to preface this by saying I am very new to R and even more inexperienced with Spatial/SC data so sorry if there is a painfully obvious solution to the issue I am missing.

I am trying to load in 10X single cell data using the Read10X function and create a Seurat Object from this:

`>sce.data  <- Read10X(data.dir = "filtered_feature_bc_matrix/")

                          pr

[2022-07-07 04:27] #63 closed

[2022-07-08 01:39] JulioLeonIncio opened #64 "Issue plotSpatialScatterpie with a seurat object"
Hello,
 I am trying to plot a scatterpie having a seurat object as X and a matrix with deconvoluted spots in Y. I keep getting this error:

<img width="638" alt="image" src="https://user-images.githubusercontent.com/23158173/177899305-bb35a2af-a6ad-429d-8d64-4ae90da8ead5.png">

any help?

Thank you!

Julio

[2022-07-13 14:43] MarcElosua commented on #64
Hi @JulioLeonIncio,

It seems like the number of spots in your Seurat object and the number of spots in your deconvolution matrix aren't the same. Can you check that they match and that they have the same names? This could be due to there being multiple images in your seurat object. You can also try passing to x the spot coordinates for the image you're trying to visualize. You can extract the coo

[2022-07-20 18:49] YMSWhuang opened #65 "Questions about the workflow of SPOTlight"
Hello,
Thanks for this very useful tool your design.
I have a question about the workflow of SPOTlight

+   x = scRNA_mouse, # Seurat Object for scRNA-Seq
+   y = KD_2@assays$Spatial@counts, # spatail counts
+   groups = as.character(scRNA_mouse$cluster_annotated_general), # annotation of scRNA-Seq
+   mgs = all.markers, # result from FindAllmarkers
+   hvg = 2000,
+   weight_id = "avg_log2FC", #

[2022-07-21 02:47] JulioLeonIncio commented on #64
It worked well after matching the spot barcodes from the matrix and image coordinates. Yeah, I had eight merged images in my Seurat object.

Thank you!

[2022-07-26 07:49] MarcElosua commented on #65
Hi @YMSWhuang

Thank you very much for your interest on SPOTlight! My best guess is that one of the cell types doesn't have any marker genes.
What happens when you do:
[code]
It should be all true since SPOTlight needs marker genes for each cell type to initialize the matrix prior to factorization. If this is the issue you can add a row/s to `all.markers` with genes representative of the missing p

[2022-07-26 12:56] YMSWhuang commented on #65
That's great answer! I checked my scRNA_mouse$cluster_annotated_general and "cluster" in my all.markers, and I found something differences in these cell types. Thanks.

[2022-07-26 12:56] #65 closed

[2022-07-26 13:55] hoon2577 opened #66 "Question about SPOTlight_deconvolution_analysis"
Hi,
I was trying to follow SPOTlight_deconvolution_analysis with PDAC (https://github.com/MarcElosua/SPOTlight_deconvolution_analysis) and i faced an error in '1a-PDAC_paired_deconvolution.Rmd'.

I used data GEO accession number GSE111672 and also was aware of the discrepancy between raw data (GSE111672) and the data in that code as you mentioned.

The question is when i use
`st_b_list <- sapply(s

[2022-07-28 19:26] anjrao17 opened #67 "Question about accessing older versions of SPOTlight"
Hi, I am trying to access an older version (0.1.7) that is compatible with R 4.0.5 but unable to download from the github repo. Can you point to where I can get this ?

Thanks!
Anjali

[2022-08-02 16:30] ultimatex5 opened #68 "problem with plotTopicProfiles: Error in plotTopicProfiles(x = mod, y = sce$Cell_Type, facet = FALSE, : is(x, "NMFfit") is not TRUE"
Hi',

thanks for your good work!
I'm following the tutorial at (https://github.com/MarcElosua/SPOTlight/blob/main/vignettes/SPOTlight_kidney.Rmd)
and after I create the trained model in two step to use later for other samples with:
[code]
and run the deconvolution:
[code]
I extract the deconvolution matrix:
[code]
and the NMF model fit:
[code]
I notice that res has not a NMF slot:
[code]

so I tri

[2022-08-05 05:24] ultimatex5 commented on #68
Add infos:
1)  SPOTlight is installed with:
[code]
2) version = SPOTlight_1.0.1
3) if I run the command not split in 2 parts I obtain the right output and _res_ has the NMF slot:
[code]

[2022-08-05 10:32] MarcElosua commented on #68
Hi @ultimatex5

Thank you so much for your interest in SPOTlight! When you carry out the analysis in 2 steps `runDeconvolution` doesn't return the model since you already obtained it from the `trainNMF` function and you pass it as `mod_ls[["mod"]]`. In this case you would need to pass  `mod_ls[["mod"]]` to x in `plotTopicProfiles`.

Hope this helps! Let me know if you have any issues!

[2022-08-05 10:34] MarcElosua commented on #67
Hi @anjrao17, SPOTlight version 0.1.7 can still be accessed from the github branch `spotlight-0.1.7`.
You can install it using the following command:
`devtools::install_github("https://github.com/MarcElosua/SPOTlight", ref = "spotlight-0.1.7")`

Let me know if this works!

[2022-08-05 10:38] MarcElosua commented on #66
Hi @hoon2577,
You should be able to download the processed data from this [link](https://crgcnag-my.sharepoint.com/:f:/g/personal/melosua_crg_es/EgqkdTRqeDFNkecpKmyQNOEB4WOjVerwccTL28KsPvGnww?e=JC6zJD). `PDAC-*_ST_list.RDS` contains a list with the spatial data for each slide and `PDAC-*_itai_joint.RDS` contains the single cell data.
Let me know if this works.

[2022-08-05 10:38] #64 closed

[2022-08-05 20:41] MigleMi opened #69 "deconvolution with the same reference"
Thank you for this amazing tool! I have tried it out on my data and SPOTlight function worked beautifully on individual samples, however, I would like to train a model on one sample and use it for other sample deconvolution, is it possible to do that or training must be done on merged spatial data from samples of interest? The problem is that I have datasets in different locations and I could only

[2022-08-10 15:25] Zifeng-L opened #70 "Issue plotSpatialScatterpie with a SpatialExperiment object"
Hi there,
I just want to plot a scatterpie with the axis from the mirror img.
[code]
I keep getting this error:
<img width="504" alt="1660145062093" src="https://user-images.githubusercontent.com/53402047/183943508-c13c745c-d079-4e09-a92e-e83f9e01f0b4.png">

any help? Many thanks in advance.

[2022-08-18 08:43] hansong798 opened #71 "Deconvolution cannot identify tumor cell type in tumor spatial data"
Hello, thank you for developing useful package.

I tried to find cell type composition of each spot on spatial data and used SPOTlight.
However, after running, it did not include tumor cell type in any tumor region.

![image](https://user-images.githubusercontent.com/85104781/185349640-70df93a5-962c-4d5d-a58e-5f29c428606e.png)

I followed downsampling as described in tutorial, but only difference

[2022-08-19 20:32] Nick-Eagles opened #72 "Suspected incorrect variable names used in vignette"
Hello,

I've been following along with the [Bioc release vignette](https://bioconductor.org/packages/release/bioc/vignettes/SPOTlight/inst/doc/SPOTlight_kidney.html) and encountered an error at this code chunk:

[code]

I suspect a couple variable names are mistaken here; for example, `sce$type` is not a column in the `colData`:

[code]

I changed the first code chunk to the following to solve the

[2022-08-30 06:07] tewengtong opened #73 "Problem on spotlight_deconvolution(old version)"
Hi, I'm using the old version of spotlight, and when I analyzed some large spatial data (rds size ≈2.5G) and scRNA-seq data (rds size ≈2G) through computer cluster, I received the error like this:

`Error in asMethod(object) :
  Cholmod error 'problem too large' at file ../Core/cholmod_dense.c, line 102
Calls: spotlight_deconvolution ... is.data.frame -> as.matrix -> as.matrix.Matrix -> as -> asMe

[2022-08-30 15:11] ultimatex5 commented on #68
solved thanks

[2022-08-30 15:11] #68 closed

[2022-08-30 15:19] ultimatex5 commented on #69
Hello',
same problem here: I have 4 spatial samples and 1 single cell reference. Before starting I checked the union between the genes of all 4 spatial samples using intersect and the genes are always the same (so i thought when i trained the model on a spatial sample i could use it with the others).
But the model only works for the spatial data that was trained on and I have the error:

`Error in

[2022-08-30 16:26] MarcElosua commented on #73
Hi @tewengtong thank you so much for your interest in SPOTlight.

I think the issue you're facing is because as currently written SPOTlight requires the use of dense matrices. These can get very large very quickly and skyrocket the memory requirements. I would suggest 2 things I believe could help:
i) subset you scRNAseq dataset to 100 cells/cell type in another script and only load this subset in

[2022-08-30 16:27] MarcElosua commented on #72
Hi @Nick-Eagles,

Yes! You're right, thank you so much for spotting this! I will fix it in the next release!

[2022-08-30 16:27] #72 closed

[2022-08-30 16:34] MarcElosua commented on #71
hi @hansong798, thank you so much for your interest in SPOTlight and for reaching out!

Would it be possible to see how the topic profiles look for each cell type? Maybe there is an overlap between the topics learned for CAFs and tumor cells and the former is capturing all the signal. It would also be interesting to look at which genes are the most important for the topics associated with tumor ce

[2022-08-30 17:14] MarcElosua commented on #70
Hi @Zifeng-L,

For me it works well when I pass a a SpatialExperiment object. Can you please return what class spe is?
You can also try passing the image object directly to the parameter `img = SpatialExperiment::imgRaster(spe, sample_id = slice)`

Hope this helps!

[2022-08-30 17:15] MarcElosua commented on #69
Hi @MigleMi & @ultimatex5,

I will look into this in more detail and get back to you! Thank you for your interest in SPOTlight and for reporting this!!

marc

[2022-08-31 10:22] MarcElosua commented on #69
Getting back to this --

When I use toy data to run `trainNMF` with one `SpatialExperiment` (SE) and then run `runDeconvolution` with the same and other SE I have no issues with my output. See toy example below:
[code]

Could you please specify the version of SPOTlight you are running and try to see if running this example works?
One thing you can try is to make sure there are rows that are not al

[2022-08-31 10:24] MarcElosua commented on #69
For @MigleMi , on your question -

There is no issue with using an integrated reference datasets, my recommendation would be to try to minimize the batch effect within each cell type by selecting up to 100 cells / cell type coming from the minimum number of batches possible.

Hope this helps!

[2022-08-31 10:24] #9 closed

[2022-08-31 10:25] #14 closed

[2022-08-31 10:25] #41 closed

[2022-08-31 10:26] #44 closed

[2022-08-31 13:25] ultimatex5 commented on #69
Hi,
thanks for your answer;
the version of SPOTlight that I'm using is SPOTlight_1.0.1
About your example I've problem with
`cd <- DataFrame(x = seq(ncol(spe2)), y = seq(ncol(spe2)), z = sample(z, 100, replace = TRUE))`
and i obtain the error
`Error in sample(z, 100, replace = TRUE) : object 'z' not found`
because you have forget to define `z`

[2022-08-31 13:32] MarcElosua commented on #69
Apologies, you can use `z = letters`. Z is just a dummy variable to be filled with anything in this example.

[2022-08-31 14:28] ultimatex5 commented on #69
I've try with your dummy data and all is fine.
I've also checked and I have a lot of rows in the spatial dataset with all 0s (ie. more or less 50% of genes that are not expressed in any spot); do you suggest to remove those rows before to train the model?
Thanks

[2022-09-07 16:20] criphg commented on #70
Same problem here.
class(spe) = "SpatialExperiment",
when use imgRaster(spe) in place of True only show part of image, and lost of pie chart information.
The image looks good in plot(imgRaster(spe)).

Any help would be appreciated.

[2022-10-14 09:15] sokratiag opened #74 "SPOTlight function crashes R studio session"
Hi,

I am trying to run spotlight on a visium mouse brain dataset but the R studio session keeps crashing. Here is the code:

library(ggplot2)
library(SPOTlight)
library(SingleCellExperiment)
library(SpatialExperiment)
library(scater)
library(scran)
library(Seurat)
library(SeuratDisk)

f <- "/Users/user/Mouse_Brain_coronal_IF"

spe <- SpatialExperiment::read10xVisium(samples = f,

[2022-10-14 09:33] MarcElosua commented on #74
hi @sokratiag,

Could you please specify what error message you get and what package versions are you using?

[2022-10-14 09:36] MarcElosua commented on #70
Hi @criphg could you please share a reprex so I can look into this?
Have you tried passing the image object directly to the img parameter - `img = SpatialExperiment::imgRaster(spe, sample_id = slice)`
Thank you!

[2022-10-14 09:49] sokratiag commented on #74
hi @MarcElosua MarcElosua,

I attach a screenshot
![Screenshot 2022-10-14 at 10 48 02](https://user-images.githubusercontent.com/39732274/195817774-779e3b4f-3203-4921-89da-c386aef240cc.png)
of the package versions. It doesn't specify the error. It says 'R session aborted' - R encountered a fatal error. The session was terminated'.

Thanks

[2022-10-14 10:09] MarcElosua commented on #74
The code looks good, could it be a memory usage? Are you running the code manually or kniting an Rmd document?

[2022-10-14 14:17] sokratiag commented on #74
i am running it manually. I also tried to run it on the terminal and I get 'Killed: 9' error.

[2022-10-14 14:31] nesilin opened #75 "Convert mgs to data.frame"
Hi Marc,

Nice tool! Please be aware that mgs must be converted into data.frame since tibble seems not to work.

Thanks!

[2022-10-21 10:40] MarcElosua commented on #75
Hi @nesilin,

Thank you so much for your input and for digging into the code! This bug has been fixed [here](https://github.com/MarcElosua/SPOTlight/blob/bioc_rcpp/R/trainNMF.R#L76).

Please let me know if you have any further questions/issues!

[2022-10-21 10:40] #75 closed

[2022-10-23 13:14] SuqinYang commented on #65
Hi,
 Thanks for this very useful tool your design! I'm having the same question.I don't know how to solve it. Thanks a lot.
The error:

  y = spe,
  groups =as.character(sce$cell_type_sub),
  mgs =cluster_markers_all_1 , #mgs_df,
  #hvg = hvg,
  #weight_id = "mean.AUC",
  group_id = "cluster",
  gene_id = "gene")

Error in trainNMF(x = x, y = y, groups = groups, mgs = mgs, n_top = n_top,  :
  ids

[2022-10-24 07:03] MarcElosua commented on #65
Hi @SuqinYang ,

My best guess is that the `weight_id` parameter should be set to `avg_log2FC` since as you have it currently set up SPOTlight is looking for a `weight` column.

Hope this helps!
Marc

[2022-10-25 12:50] SuqinYang commented on #65
The problem is solved. Thank you so much!

[2022-11-08 13:57] sdwien opened #76 "export SPOTlight results to 10x Genomics Loupe Browser"
Dear SPOTlight team (and users),

I have just used SPOTlight for the first time successfully, and processed a 10x Genomics Visium data set.

I am working in a core facility and would like to share some of the results with our users so that they can browse them by themselves in the 10x Genomics Loupe Browser.

On other occasions, I have exported 2-column files of barcodes and annotations (or other

[2022-11-09 18:58] MarcElosua commented on #76
Hi @sdwien,

Thank you for your interest in SPOTlight and for your kind words! Unfortunately we have not exported SPOTlight's results to the Loupe browser so unfortunately we have no experience with this. However, as 10X suggests [here](https://support.10xgenomics.com/single-cell-gene-expression/software/visualization/latest/tutorial-interoperability) it maybe be worth trying to load 1 file with 1

[2022-11-10 12:34] sdwien commented on #76
Dear Marc,
thanks for your reply and suggestions.
For the time being, it is only possible to import projections (x-y coordinates of dim. red.), "categories" (cluster memberships of spots) and lists of "features" (genes) into Loupe, but not vectors of numeric data for all spots. What happens when one tries to do this, is that since the values are different for each barcode (except for 0), virtually

[2022-11-11 08:52] MarcElosua commented on #76
That would be great! Thank you very much for sharing your process here, looking forward to seeing if 10X implements this!

[2022-11-11 10:14] wang0430 opened #77 "colData(sc_data)$subclass"
Dear SPOTlight team (and users),

I'm trying to deal with scRNA-seq dataset是, the following problems, don't know is what reason, want to ask you！
![1668161596120](https://user-images.githubusercontent.com/112233361/201318679-e36625aa-8c14-4b41-89f0-4ea03d1476c7.png)

[2022-11-14 09:15] MarcElosua commented on #77
Hi @wang0430

It seems like you're trying to run SingleCellExperiment functions on a Seurat object. You can do the colLabels assignment as

[code]

Hope this helps,
Marc

[2022-11-19 09:21] wang0430 opened #78 "Difference between cell type correlation and cell communication"
Spotlight provides the function to analyze the cell type correlation. I'm curious how this differs from cell communication and what the underlying principle is.

[2022-11-30 05:55] xiaojjia commented on #67
Hi, I've tried to download `spotlight-0.1.7` as you said, but it failed. Maybe I need another way to download?

Thanks！

[2022-11-30 16:56] MarcElosua commented on #67
Hi @xiaojjia could you post what error you're getting?

[2022-11-30 16:58] MarcElosua commented on #78
Hi @wang0430

Thank you for your interest in SPOTlight! Cell type correlation just looks at how the predicted proportions of cells correlate within each spot. It does not take into account any Ligand-Receptor information.

Hope this helps,
Marc